
<form [formGroup]="filtro" 
      (ngSubmit)="busqueda()">
      
<div class="row">
    
    <div class="col-10">
        <input 
            type="text" 
            class="form-control flex-box shadow" 
            placeholder="Nombre del campeón..."
            formControlName="nombre"
            
            
        >
    </div>

    <div class="col-2">
        <button 
            type="submit" 
            class="btn btn-outline-secondary" 
            style="width: 100%;"
        >Buscar
    </button>
    </div>
 
</div>
</form>   
<hr>
<div class="row mt-3 shadow-lg">
<div class="card-columns ">
   
<app-cards    
    (busqueda) = "busqueda($event)"
    *ngFor="let campeon of nuevo"
    [id]="campeon['id']" 
    [nombre]="campeon.name" 
    [title]="campeon.title" 
    [foto]="campeon['id']"
    > 
</app-cards
>
</div>

<div class="alert alert-danger text-center " *ngIf="nuevo.length === 0">
    No se encontraron campeones
</div>

<div *ngIf="nuevo.length !== 0">
<pagination
    [totalItems]="totalItems" 
    [(ngModel)]="currentPage" 
    (pageChanged)="cambiodePagina($event)"
    [maxSize]="maxSize" 
    [itemsPerPage]="itemsPerPage"
    [boundaryLinks]="true"
    directionLinks = false
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;"
    >
</pagination>
</div>
</div>



